#acg-artical{
.artical-title{
    .el-button{
        padding: 12px 0px;;
    }
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid #d3dce6 ;
    .pageheader{
        font-size: 16px;
        text-align: center;
        line-height: 36px;
        color:#596E84;
        // border-radius: 5px;
        border-right: 1px solid #d3dce6;
        box-sizing: border-box;

    }
    .screen{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        width: 100%;
    }
}


}
.el-row {
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }

  .bg-purple {
    // background: #d3dce6;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
 