@import "@/App.scss";
#app-noticecontent {
    font-family: notoSerif;
    .lazyload {
        filter: blur(0px);
        transition: 0.3s filter linear;
    }
    .title-white{
        font-weight: 500;
        color: #fff;
        text-shadow: 2px 2px 10px #000;
    }
    .main {
        .title {
            width: 100%;
            height: 400px;
            position: relative;
            &-bg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
            &-msg {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 1;
                > div {
                    width: 1000px;
                    margin: 0 auto;


                    
                    > div {
                        margin: 25px 0;
                    }
                    .title-text {
                        font-size: 32px;
                    }
                    .title-info > div {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .title-face {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background: white;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            pointer-events: none;
                        }
                    }
                    .title-artical {
                    }
                    .title-date {
                    }
                    .title-visit {
                    }
                    .dot {
                        margin: 0 5px;
                    }
                }
            }
        }
        .body {
            width: 1000px;
            margin: 0 auto;
            margin-top: 50px;
            color: $text-color-primary;
        }
        .tags {
            margin: 20px 0;
            padding: 20px 0;
            border-top: 1px dashed $border-color-primary;
            border-bottom: 1px dashed $border-color-primary;
            .tag {
                display: inline-block;
                margin-left: 10px;
            }
        }
        .slide {
            width: 1000px;
            background: whitesmoke;
            position: relative;
            .slide-view {
                width: 900px;
                height: 150px;
                margin: 0 auto;
                overflow: hidden;
            }
            .slide-ctrl {
                > div {
                    width: 50px;
                    height: 100%;
                    display: inline-block;
                    text-align: center;
                    line-height: 150px;
                    text-align: center;
                    line-height: 150px;
                }
                .ctrl-left {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .ctrl-right {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            .slide-list {
                width: 2000px;
                height: 150px;

                .slide-item {
                    width: 280px;
                    height: 130px;
                    background:black;
                    margin: 10px;
                    display: inline-block;
                    border-radius: 6px;
                    overflow: hidden;
                    position: relative;
                    .slide-item-bg{
                        width: 100%;
                        height: 100%;
                        opacity: .5;
                        transition: opacity .15s  ease-out ;
                        &:hover{
                            opacity: .7;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

                        }
                    }
                    .slide-item-info{
                        pointer-events: none;
                        position: absolute;
                     z-index: 1;
                     top: 50%;
                     left: 50%;
                     width: 200px;
                     
                     transform: translate(-50%,-50%);

                    }

                }
            }
        }
    }
}
