.app-admin {
  
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  
  .aside {
    // width: 64px;
    .title {
      font-size: 20px;
      height: 60px;
      line-height: 60px;
      background: #9675CE;
      color: white;
      cursor: pointer;
      > div {
        display: inline-block;
      }
      #isCollapse {
        text-align: center;
        width: 64px;
        height: 100%;
      }
    }
  }
  .header {
    height: 100%;

    > div {
      display: inline-block;
      font-size: 16px;
    }
    .chooseSystem {
      padding: 0 20px 0 6px;
      margin-top: 19.5px;
    }
    .pageheader {
      // display: inline;
      padding: 0 20px 0 6px;
      border-left: 4px solid #39c5bb;
      margin-top: 19.5px;
    }
    .userinfo {
      // vertical-align: top;
      float: right;
      > div {
        vertical-align: top;
        display: inline-block;
      }
      .avatar {
        margin-top: 5px;
      }
      .nickname {
        font-size: 16px;
        margin-top: 19.5px;
        margin-right: 14px;
      }
    }
  }
  .main {
    .breadcrumb {
      margin-bottom: 20px;
    }
    .body {
      background: #fff;
      height: calc(100vh - 134px);
      overflow: hidden;
      > div {
        &::-webkit-scrollbar {
          width: 0 !important;
        }
        // IE 10+
        
        & {
          -ms-overflow-style: none;
        }
        // Firefox
        
        & {
          overflow: -moz-scrollbars-none;
        }
        height: 100%;
        overflow: auto;
      }
    }
  }
}

.el-header,
.el-footer {
  background-color: #fff;
  color: #333;
}

.el-aside {
  width: auto !important;
  background-color: #d3dce6;
  color: #333;
  height: 100vh;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 300px;
  height: 100vh;
}
.el-menu--collapse {
  width: 64px;
  height: 100vh;
}
.el-menu {
  border-right: 0px !important;
}
.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}
.el-icon-arrow-down {
  font-size: 12px;
}
