#app-newslist{

    .main{
        width: 1200px;
        margin:0px auto;
        height: 1000px;
        background: #ffffff88;
        padding: 0 ;
    }
    .flybtn{
        position:fixed;
        left: 200px;
        top: 50%;
        transform: translate(0,-50%);

       
        
        &-blue{
            width: 50px;
            height: 50px;
            background: #39c5bb;
            
            border-radius: 10px;
        }
    }
    
}
