@import '@/App.scss';
#app-newslist{

    .main{
        width: 1200px;
        margin:0px auto;
        height: 1000px;
        background: #ffffff88;
        padding: 0 ;
    }
    .flybtn{
        position:fixed;
        left: 5%;
        top: 50%;
        transform: translate(0,-50%);
        >div{
            // box-sizing: border-box;
            position: relative;
            margin: 10px auto;
            width: 50px;
            height: 50px;
            border-radius: 10px;

            transition: .1s transform;
            &:hover{
                transform: scale(1.2);
                box-shadow: 0 0 4px 2px #ffffff88, 0 0 4px 2px #ffffff88 inset;
                
            }
            
        }
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);

        }
        .flybtn-drawer{
            position: absolute;
            left: 55px;
            height: 50px;
            line-height: 50px;;
            padding:  0 20px;
            border-radius: 10px;

        }
        
        
    }
    
}
