:root{
    --primary-theme:#FE9600;
}
$primary-theme:var(--primary-theme);
$mainTheme-nav: #39c5bb;      //导航栏的背景颜色
$mainTheme-body: #00000090; //各板块的背景颜色和透明度  
$text-color-primary:  #797979;
$border-color-primary:#ddd;
$bar-height: 70px;//导航栏高度
$content-width:1000px;//文章页内容默认宽度

body::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    padding-left: -10px;
}
body::-webkit-scrollbar-thumb {
    // border-radius: 15px;
    background: $primary-theme;
}
body::-webkit-scrollbar-track {
    // border-radius: 0px;
    background: rgba(0, 0, 0, 0.1);
}